<div class="text-center">
    <h1 class="jumbotron">КОНТАКТИ</h1>

    <h3>"{{ site.title }}"- {{ site.tagline }}</h3>

    <p> <span class="glyphicon glyphicon-phone-alt muted" aria-hidden="true"></span> {{ site.phone }}</p>

    <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ site.email }}</p>

    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ site.street }}</p>

    <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ site.city }}</p>

    <div style="text-align: center;">
        <iframe style="border: 0; max-width: 100%; margin-top: 15px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2912.1678524170884!2d25.68737131547511!3d43.121999979143006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9291987295b5f%3A0x2cc2da29cd9fd8cd!2z0J_QkNCd0JLQldCg!5e0!3m2!1sbg!2sbg!4v1446763377201" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
</div>

