---
layout: default
---

<div class="page-header">
    <h2 class="text-left">{{ page.title }}</h2>
</div>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{{site.baseurl}}/images/{{page.image}}" alt="">
        </div>

        <div class="col-md-6">
            {{ content }}
        </div>

    </div>

</div>

<div class="page-header">
    <h2 class="text-left">{{page.secondTitle}}</h2>
</div>

<div class="row text-center">
    {% for item in page.products %}
        <div class="col-lg-6">

              <img class="img-circle" src="{{site.baseurl}}/images/{{ item.picture }}" alt="Generic placeholder image" width="340" height="340">

              <a href="{{site.baseurl}}{{item.link}}"><h2>{{item.title}}</h2></a>

              <p>{{ item.description }}</p>

        </div><!-- /.col-lg-4 -->
    {% endfor %}
</div>

<div class="clearfix"><h1></h1></div>

<div class="jumbotron">
    <h3 class="text-center">За повече информация се звържете на телефон {{ site.phone }}!</h3>
</div>

